html {
  font-family: 'Open Sans', sans-serif;
  background-image: url("medias/lowpoly.png");
}

body {
  width: 1200px;
  margin: 0 auto;
  background-color: #FFFFFF;
  padding: 0 20px 20px 20px;
  border: 4px solid #00539F;
  font-size: 20px;
  text-align: justify;
}

h1 {
    font-size: 50px;
    text-align: center;
    margin: 0;
    padding: 10px 0;
    color: #00539F;
    text-shadow: 2px 2px 1px rgba(0, 0, 0, .4);
    border: 16px ridge rgba(38, 121, 178, .9);;
    text-decoration:  underline #252A34;
}

img,video {
  width:1100px;
  display: block;
  margin: 0 auto;
  border: 8px  ridge rgba(38, 121, 178, .7);;
}

strong {
	color: #1F3463;
    font-weight: bolder;
	}

#sum,#para1,#para2,#para3,#para4,#src{
    font-size: 30px;
    text-decoration: underline #FF3028;
    color:#00539F;
    text-shadow: 1px 1px 1px #003B71;
}
